<h2>Table of Contents</h2>
<div class="alert alert-block alert-info" style="margin-top: 20px">
    <ul>
        <li>
            <a href="#dataset">About the Dataset</a>
        </li>
        <li>
            <a href="#tuple">Tuples</a>
            <ul>
                <li><a href="index">Indexing</a></li>
                <li><a href="slice">Slicing</a></li>
                <li><a href="sort">Sorting</a></li>
            </ul>
        </li>
        <li>
            <a href="#escape">Quiz on Tuples</a>
        </li>
    </ul>
    <p>
        Estimated time needed: <strong>15 min</strong>
    </p>
</div>

<hr>

In [ ]:
# Create your first tuple

tuple1 = ("disco",10,1.2 )
tuple1

In [ ]:
# Print the type of the tuple you created

type(tuple1)

In [ ]:
# Print the variable on each index

print(tuple1[0])
print(tuple1[1])
print(tuple1[2])

In [ ]:
# Print the type of value on each index

print(type(tuple1[0]))
print(type(tuple1[1]))
print(type(tuple1[2]))

In [ ]:
# Use negative index to get the value of the last element

tuple1[-1]

In [ ]:
# Use negative index to get the value of the second last element

tuple1[-2]

In [ ]:
# Use negative index to get the value of the third last element

tuple1[-3]

In [ ]:
# Concatenate two tuples

tuple2 = tuple1 + ("hard rock", 10)
tuple2

In [ ]:
# Slice from index 0 to index 2

tuple2[0:3]

In [ ]:
# Slice from index 3 to index 4

tuple2[3:5]

In [ ]:
# Get the length of tuple

len(tuple2)

In [ ]:
# A sample tuple

Ratings = (0, 9, 6, 5, 10, 8, 9, 6, 2)

In [ ]:
# Sort the tuple

RatingsSorted = sorted(Ratings)
RatingsSorted

In [ ]:
# Create a nest tuple

NestedT =(1, 2, ("pop", "rock") ,(3,4),("disco",(1,2)))

In [ ]:
# Print element on each index

print("Element 0 of Tuple: ", NestedT[0])
print("Element 1 of Tuple: ", NestedT[1])
print("Element 2 of Tuple: ", NestedT[2])
print("Element 3 of Tuple: ", NestedT[3])
print("Element 4 of Tuple: ", NestedT[4])

In [ ]:
# Print element on each index, including nest indexes

print("Element 2, 0 of Tuple: ",   NestedT[2][0])
print("Element 2, 1 of Tuple: ",   NestedT[2][1])
print("Element 3, 0 of Tuple: ",   NestedT[3][0])
print("Element 3, 1 of Tuple: ",   NestedT[3][1])
print("Element 4, 0 of Tuple: ",   NestedT[4][0])
print("Element 4, 1 of Tuple: ",   NestedT[4][1])

In [ ]:
# Print the first element in the second nested tuples

NestedT[2][1][0]

In [ ]:
# Print the second element in the second nested tuples

NestedT[2][1][1]

In [ ]:
# Print the first element in the second nested tuples

NestedT[4][1][0]

In [ ]:
# Print the second element in the second nested tuples

NestedT[4][1][1]

In [ ]:
# sample tuple

genres_tuple = ("pop", "rock", "soul", "hard rock", "soft rock", \
                "R&B", "progressive rock", "disco") 
genres_tuple